# Raw datasets
data/
data/*

# Trained models
model/
model/*
*.pkl
*.joblib
*.h5

# Virtual environment
venv/
.venv/
env/

# Python cache
__pycache__/
*.py[cod]

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db